<div class="register-page">

<!-- Currently a placehoolder -->
<div class="register-artwork">
 <img style="height: 100%" src="/assets/images/loginImage.jpg"/>
</div>

<div class="register-wrapper">


<form method="POST" action="" class="register-form">

        <div class="register-header-wrapper">
                <img style="width: 135px;" src="/assets/icons/logo_noText.svg"/>
                <div class="register-header">
                    <h1 style="color: #fff;"><strong>CREATE</strong> YOUR ACCOUNT</h1>
                    <span class="h1-sub" style="color: #8e8e90;">Register and join the portlogue community</span>
                </div>
            </div>

    <input type="name" name="userName" placeholder="Username" value="<%= ((val) => val || '')(userName);%>"/>
    <div>
        <input type="name" name="firstName" placeholder="First Name" value="<%= ((val) => val || '')(firstName);%>"/>
        <input type="name" name="lastName" placeholder="Last Name" value="<%= ((val) => val || '')(lastName); %>"/>
    </div>
    <input type="email" name="email" placeholder="E-mail" value="<%= ((val) => val || '')(email);%>"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="password" name="confirmPassword" placeholder="Confirm Password"/>
    <button type="submit">Register</button>

    <a href="/users/login">Already have an account?</a>

    <ul class="register-flash-message">
            <% for(let val of errors) {%>
                <li><%= val.msg %></li>
            <% } %>
            <% for(let val of errorsCustom) {%>
                <li><%= val.msg %></li>
            <% } %>
    </ul>

</form>

</div>

</div>