<section>

    <ul>
        <% for (let val of error_msg) {%>
            <li><%=val.msg%></li>
        <% } %>
    </ul>

    <div class="settings-wrapper">

        <div class="settings-selection">
            <div>
                <img src="#" alt="profile"/>
                <span>Profile</span>
            </div>
            <div>
                <img src="#" alt="Account Settings"/>
                <span>Account Settings</span>
            </div>
        </div>

        <div class="settings-options">
            <div>
                <span>Profile</span>
            </div>
            <!-- Avatar change -->
            <div>
                <div>
                    <img style="width: 100px;" src="/publicAvatar/<%=User.email%>"/>
                    <span><%=User.fullNameDisplay%></span>
                </div>
                <span>Change profile picture</span>

                <div>
                    <form id="" method="POST" action="/users/change_avatar" enctype="multipart/form-data">
                        <input class="" id="" type="file" name="avatar"/>
                        <button class="" type="" id="">Update</button>
                    </form>
                </div>
            </div>
            <!-- Peronsal information -->
            <div>
                <span>Personal Information</span>
                <div>
                    <form method="POST" action="/users/change_personalInfo">
                        <div>
                                <div>
                                    <label for="firstName">First Name</label>
                                    <input id="firstName" type="text" name="firstName"/>
                                </div>
            
                                <div>
                                    <label for="lastName">Last Name</label>
                                    <input id="lastName" type="text" name="lastName"/>
                                </div>
                        </div>
                        <div>
                            <div>
                                <label for="emailDisplay">Display email</label>
                                <input id="emailDisplay" type="email" name="emailDisplay"/>
                            </div>
                            <div>
                                <label for="phoneNumber">Phone Number</label>
                                <input id="phoneNumber" type="number" name="phoneNumber"/>
                            </div>
                        </div>
                        <button type="submit">Save</button>
                    </form>
                </div>
            </div>

            <!-- About You -->
            <div>
                <span>About You</span>
                <div>
                    <form method="POST" action="/users/change_aboutYou">
                            <div>
                                    <div>
                                        <label for="country-setting">Country</label>
                                        <select name='country'>

                                                <% for(let val of selectCountry) {%>
                                                    <option value="<%= val %>"><%= val%></option>
                                                <% } %>
                            
                                        </select>
                                    </div>
                                    <div>
                                            <label for="postalCode-setting">Postal Code</label>
                                            <input id="postalCode-setting" type="text" name="postalCode"/>
                                    </div>
                            </div>
                            <div>
                                <div>
                                    <label for="occupation-setting">Occupation</label>
                                    <select name='occupation-setting'>

                                            <% for(let val of selectCountry) {%>
                                                <option value="<%= val %>"><%= val%></option>
                                            <% } %>
                        
                                    </select>
                                </div>
                                <div>
                                        <label for="bio-setting">Bio</label>
                                        <textarea name="bio-setting" maxlength="160"></textarea>
                                        <p>Max: 160</p>
                                </div>
                            </div>
                            <button type="submit">Save</button>
                    </form>
                </div>
            </div>

        </div>

    </div>

</section>