<!-- Make body transparent for hover -->
<style>
    body {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #7f7f7f;
    }
</style>

<section id="hover-section">

        <div id="hover-overlay" onclick="parent.closeHover();"><!-- Black overlay -->
            <span id="close-hover"><img class="nav-icons" src="/assets/icons/icons8-delete-96.png"/></span>
        </div>

        <div class="website-view">
            <div class="website-topbar">
                <span><a target="_blank" href="<%=website.url%>" target="_blank"><%=website.url%></a></span>
                <span><%=website.views%> views</span>
            </div>
            <iframe id="profile-iframe"
                title="Inline Frame"
                width="100%;"
                height="100%"
                scrolling="yes"
                src="<%=website.url%>">
            </iframe>
        </div>

        <div id="hover-interact">

            <div class="hover-head">
                <div class="hover-header">
                    <a target="_parent" href="/users/profile/<%=owner.username%>" class="hover-avatar-wrapper"><img style="height:100%;" src="/publicAvatar/<%=owner.email%>"/></a>
                    <span class="sitename-fullname">
                        <span><h3><%-website.siteName%></h3></span>
                        <a target="_parent" href="/users/profile/<%=owner.username%>" class="h3-sub hover-head-fullname">By <span style="color:#3498db;"><%=owner.fullName%></span></a>
                    </span>
                </div>

                <div class="like-favourite">
                    <form id="likeForm">
                        <button class="likeStyle" id="likeButton"><img class="nav-icons" src="/assets/icons/icons8-facebook-like-96.png"/><span><%=website.likes%></span></button>
                    </form>
                    <form id="favForm">
                        <button class="favStyle" id="favButton"><img class="nav-icons" src="/assets/icons/icons8-heart-96-dark.png"/>Favorite</button>
                    </form>
                </div>
            </div>

            <div class="hover-description">
                <span><%=website.description%></span>
            </div>

            <div class="comment-post">
                <span>Comments</span>
                <form id="commentForm">
                    <div>
                        <div class="avatar-squish-fix">
                            <div class="hover-avatar-wrapper" style="width: 40px; height: 40px;"><img style="height: 100%" src="/publicAvatar/<%=user.email%>"/></div>
                        </div>
                        <textarea id="commentValue" minlength="1" maxlength="400" placeholder="" required></textarea>
                    </div>
                    <div>
                        <button id="comment">Comment</button>
                    </div>
                </form>
            </div>

            <ul id="comment-render">

                <span id="no-comment-placeholder" style="text-align: center;"><%- comments.length === 0 ? "There are no comments": ""%></span>
                <% for (let val of comments) {%>
                    <li>
                        <a target="_parent" href="/users/profile/<%=val.user.username%>" class="hover-avatar-wrapper" style="width: 40px; height: 40px;"><img style="height: 100%" src="/publicAvatar/<%=val.user.email%>"/></a>
                        <div class="comment-head">
                            <div>
                                <a target="_parent" class="comment-head-fullname" href="/users/profile/<%=val.user.username%>"><strong><%=val.user.fullName%></strong></a>
                                <span><%=val.comment%></span>
                            </div>
                            <div class="comment-foot">
                                <span><%= moment(val.date).fromNow() %></span>
                            </div>
                        </div>
                    </li>
                <% } %>
            </ul> 

        </div>

</section>

<script>

$( document ).ready(()=> {

    /* Initialize Variables */

    //Grab website id
    let websiteId = <%-JSON.stringify(website._id)%>;
    //User info
    let user = <%- JSON.stringify(user) %>;
    //Website info
    let webLikes = <%- JSON.stringify(website.likes) %>;

    let likeStatus = false;

    let favStatus = false;

    /* Front end changes */

    //Prepend comments
    function loadComments(comment, user) {
        //Prepend the exact same structure for the comment Render list
        $("#comment-render").prepend(`<li>
                    <a target="_blank" href="/users/profile/${user.username}" class="hover-avatar-wrapper" style="width: 40px; height: 40px;"><img style="height: 100%" src="/publicAvatar/${user.email}"/></a>
                    <div class="comment-head">
                        <div>
                            <a target="_blank" class="comment-head-fullname" href="/users/profile/${user.username}"><strong>${user.firstName.replace(user.firstName[0], user.firstName[0].toUpperCase())} ${user.lastName.replace(user.lastName[0], user.lastName[0].toUpperCase())}</strong></a>
                            <span>${comment}</span>
                        </div>
                        <div class="comment-foot">
                            <span>a few seconds ago</span>
                        </div>
                    </div>
                </li>`);

        $("#no-comment-placeholder").css("display", "none");
    }   

    //Check if website is liked, if it is render the button as liked
    for (let val of user.likedSites) {
        if (val.toString() === websiteId.toString()) {
            likeStatus = true;
            $("#likeButton").addClass("liked");
            $("#likeButton > img").attr("src", "/assets/icons/icons8-facebook-like-96-white.png");
        }
    }

    $("#likeButton").on("click", ()=> {
        if (!likeStatus) {
            webLikes++;
            $("#likeButton").addClass("liked");
            $("#likeButton > img").attr("src", "/assets/icons/icons8-facebook-like-96-white.png");
            $("#likeButton span").html(webLikes);
            likeStatus = true;
        }

        else {
            weblikes--;
            $("#likeButton").removeClass("liked");
            $("#likeButton > img").attr("src", "/assets/icons/icons8-facebook-like-96.png");
            $("#likeButton > span").html(webLikes);
            likeStatus = false;
        }
    });

    //Check if website is in favourites
    for (let val of user.favorites) {
        if (val.toString() === websiteId.toString()) {
            favStatus = true;
            $("#favButton").addClass("faved");
            $("#favButton > img").attr("src", "/assets/icons/icons8-heart-96.png")
        }
    }

    $("#favButton").on("click", ()=> {
        //Add to fav
        if (!favStatus) {
            $("#favButton").addClass("faved");
            $("#favButton > img").attr("src", "/assets/icons/icons8-heart-96.png");
            favStatus = true;
        }

        //Remove from fav
        else {
            $("#favButton").removeClass("faved");
            $("#favButton > img").attr("src", "/assets/icons/icons8-heart-96-dark.png");
            favStatus = false;
        }
    });

    /*  Ajax Request */

    $("#commentForm").on("submit", ()=> {
        event.preventDefault(); //Prevent page from refreshing

        let value = $("#commentValue").val();

        //Ajax request to handle post data
        $.ajax({
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ value, websiteId }),
            success: (response)=> { //Response is the data that the server processed
                $("#commentValue").val("");
                loadComments(response, user);
            }
        });
    });

    $("#likeForm").on("submit", ()=> {
        event.preventDefault();

        $.ajax({
            url: "/users/like_site",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ websiteId }),
            success: (data)=> {
                //Empty
            }
        });
    }); 

    $("#favForm").on("submit", ()=> {
        event.preventDefault();

        $.ajax({
            url: "/users/favorite",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ websiteId }),
            success: (data)=> {
                console.log(data);
            }
        });
    });

});


</script>