<section class="settings-section">

    <ul class="flash-settings">
        <% for (let val of error_msg) {%>
            <li class="flash-style f-error">
                    <div class="flash-info">
                        <span><strong>Error</strong></span>
                        <span><%=val.msg%></span>
                    </div>
                    <div class="flash-close"><img src="/assets/icons/icons8-delete-96.png"/></div>
            </li>
        <% } %>
        <% for (let val of success_msg) {%>
            <li class="flash-style f-success">
                    <div class="flash-info">
                        <span><strong>Success</strong></span>
                        <span><%=val.msg%></span>
                    </div>
                    <div class="flash-close"><img src="/assets/icons/icons8-delete-96.png"/></div>
            </li>
        <% } %>        
    </ul>
    <div class="settings-wrapper">

        <header class="settings-header"><h1><img style="height: 30px;" src="/assets/icons/icons8-user-96.png" alt="profile"/>Profile</h1><span style="color: #bbbbbb;" class="h1-sub">Edit how your information appears</span></header>

        <div class="settings-selection">                
                <a href="/users/settings?tab=profile" class="settings-selected-a"><img class="nav-icons" src="/assets/icons/icons8-user-96.png" alt="profile"/><span class="setting-select-name">Profile</span></a>
                <a href="/users/settings?tab=account"><img class="nav-icons" src="/assets/icons/icons8-settings-96.png" alt="Account Settings"/><span class="setting-select-name">Account Settings</span></a>
                <a href="/users/settings?tab=website"><img class="nav-icons" src="/assets/icons/icons8-website-96.png" alt="Account Settings"/><span class="setting-select-name">Websites</span></a>
        </div>

        <div class="settings-options">
            <!-- Avatar change -->
            <div class="avatar-change">
                <div class="set-avatar-formOne">
                        <div class="set-avatar-display">
                                <div class="set-avatar-img-wrap">
                                    <img src="/publicAvatar/<%=User.email%>"/>
                                </div>
                                <span><%=User.fullNameDisplay%></span>
                            </div>
                            <span id="set-changeAvatar" class="set-edit">Change profile picture</span>
                </div>

                <div class="set-avatarChange-form">
                    <form id="" method="POST" action="/users/change_avatar" enctype="multipart/form-data">
                        <input class="" id="" type="file" name="avatar"/>
                        <span>Max size: 20Kb</span>
                        <button class="" type="" id="">Update</button>
                    </form>
                </div>
            </div>
            <!-- Personal information -->
            <div class="personal-info">
                <div class="settings-sub-heading-wrapper">
                    <span class="settings-sub-heading">Personal Information</span>
                    <span id="personalInfo-show">Change</span>
                </div>
                    <form class="personal-info-form" method="POST" action="/users/change_personalInfo">
                        <div class="personal-info-div">
                                <div class="personal-info-input">
                                    <label for="firstName">First Name</label>
                                    <input id="firstName" type="text" name="firstName" placeholder="<%=User.firstName%>"/>
                                </div>
            
                                <div class="personal-info-input">
                                    <label for="lastName">Last Name</label>
                                    <input id="lastName" type="text" name="lastName" placeholder="<%=User.lastName%>"/>
                                </div>
                        </div>
                        <div class="personal-info-div">
                            <div class="personal-info-input">
                                <label for="emailDisplay">Display email</label>
                                <input id="emailDisplay" type="email" name="emailDisplay" placeholder="<%=User.emailDisplay%>"/>
                            </div>
                            <div class="personal-info-input">
                                <label for="phone">Phone Number</label>
                                <input id="phoneNumber" type="number" name="phone" placeholder="<%=User.phone%>"/>
                            </div>
                            <div class="personal-info-save">
                                <button id="pInfo-save" type="submit" disabled>Save</button>
                            </div>
                        </div>
                    </form>
            </div>

            <!-- About You -->
            <div>
                <div class="settings-sub-heading-wrapper">
                    <span class="settings-sub-heading">About You</span>
                    <span id="aboutYou-show">Change</span>
                </div>
                <div>
                    <form class="aboutYou-info-form" method="POST" action="/users/change_aboutYou">
                            <div class="aboutYou-info-div">
                                    <div class="aboutYou-info-input">
                                        <label for="country">Country</label>
                                        <select name='country'>
                                                <option value="" disabled selected hidden>Select your option</option>
                                                <% for(let val of selectCountry) {%>
                                                    <option value="<%= val %>"><%= val%></option>
                                                <% } %>
                            
                                        </select>
                                    </div>
                                    <div class="aboutYou-info-input">
                                            <label for="postalCode-setting">Postal Code</label>
                                            <input id="postalCode-setting" type="text" name="postalCode" placeholder="<%=User.postalDisplay%>"/>
                                    </div>
                            </div>
                            <div class="aboutYou-info-div">
                                <div class="aboutYou-info-input">
                                        <label for="occupation">Occupation</label>
                                        <select data-placeholder="" multiple class="chosen-select" name="occupation">
                                            <%for (let val of occupation) {%>   
                        
                                                <option value="<%=val.replace(/\s+/g,'-')%>"><%=val%></option>
                                                
                                            <% } %>      
                                        </select>
                                </div>
                                <div class="aboutYou-info-input">
                                        <label for="bio-setting">Bio</label>
                                        <textarea name="bio" maxlength="160" placeholder="<%=User.bio%>"></textarea>
                                        <p>Max: 160</p>
                                </div>
                                <div class="aboutYou-info-save">
                                    <button  id="aboutYou-save" disabled type="submit">Save</button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</section>

<script>

$( document ).ready(()=> {

    $(".chosen-select").chosen({ width: '60%' });

    $(".chosen-drop").on("click", ()=> {
        $("#aboutYou-save").prop("disabled", false);
    });

    $(`#set-changeAvatar`).on("click", ()=> {
        $(`.set-avatarChange-form`).toggle();
    });

    $(".personal-info-input > input").on("focus", ()=> {
        $("#pInfo-save").prop("disabled", false);
    });

    $(".aboutYou-info-input > input, .aboutYou-info-input > textarea, .aboutYou-info-input > select ").on("focus", ()=> {
        $("#aboutYou-save").prop("disabled", false);
    })

    $("#personalInfo-show").on("click", ()=> {
        ($(".personal-info-form").css("display") === "flex") ? $(".personal-info-form").css("display", "none") : $(".personal-info-form").css("display", "flex");
    })

    $("#aboutYou-show").on("click", ()=> {
        ($(".aboutYou-info-form").css("display") === "flex") ? $(".aboutYou-info-form").css("display", "none") : $(".aboutYou-info-form").css("display", "flex");
    })

});

</script>