<section id="discoverSection">

<nav class="discover-nav">
                <ul>
                    <li><a href="/discover/new">New</a></li>
                    <li><a href="/discover/highest_rated">Highest Rated</a></li>
                    <li><a href="/discover/most_viewed">Most Viewed</a></li>
                    <li><a href="/discover/friends">Friends</a></li>
                </ul>
</nav>
    <div class="discover-results">
    <ul class="discover-results-ul" id="userQry"><!-- Custom Limited-->

        <% for(let user of qUsers) { %>
            <li class="portfolio-select"><a target="_top" href="/users/profile/<%=user.username%>">
                <div class="portfolio-thumbnail">
                    <div class="portfolio-thumbnail-bar"><!--Grey bar--></div>
                    <div><img class="portfolio-thumbnail-img" src="/userWebThumb/<%=user.email%>"/></div>
                </div></a>
                <div class="thumbnail-desc">
                    <div class="profile-name-wrapper">
                        <div class="thumb-profile-wrapper"><img class="thumbnail-profile-img" src="/publicAvatar/<%=user.email%>"/></div>
                        <a href="/users/profile/<%=user.username%>"><%=user.fullNameDisplay%></a>
                    </div>
                    <span class="occupation-flex"><%=user.occupation%></span>
                </div>
            </li>
        <% } %>

    </ul>
    <div class="pageControl">
        <form method="POST" action="/newQryPrev">
            <input type="hidden" value="<%=page%>" name="pageNumber"/>
            <input type="hidden" value="<%=filter%>" name="filter">
            <button class="prevPag" type="submit">Back</button>
        </form>


        <form method="POST" action="/newQryNext">
            <input type="hidden" value="<%=page%>" name="pageNumber"/>
            <input type="hidden" value="<%=filter%>" name="filter">
            <button class="nextPag" type="submit" <%=qryNextStat%>>Next</button>
        </form>
    </div>

    </div>
</section>

<script>

if (`<%=page%>` === `1`) {
    $(`.prevPag`).attr("disabled","true");
}

</script>