<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PortLogue</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//unpkg.com/jscroll/dist/jquery.jscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
    <script src="/scripts/front-end-functions.js"></script>
</head>
<body>

    <div class="hidden-overlay"><!-- Click to minimize all --></div>


    <div class="web-popup">
            <iframe id="web-frame">
            </iframe>
        </div>

    <header class="home-header">
        <nav class="home-nav">
            <div class="home-left-nav">
                <ul>
                    <li><a href="/"><img style="width: 50px;" src="/assets/icons/logo_noText.svg" alt="portlogue-logo"/></a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Send feedback</a></li>
                </ul>
            </div>

            <div class="home-search">
                    <div class="home-search-form">
                            <form method="GET" action="/search">
                                <button type="submit"><img class="nav-icons" src="/assets/icons/icons8-search-filled-96.png" alt="search-icon"/></button>
                                <input type="text" name="q"/>
                            </form>
                            <div class="home-quick-search">
                                <div id="qs-dropdown">
                                    
                                    <div><p>Quick Search</p><img class="nav-icons" src="/assets/icons/icons8-expand-arrow-96.png" alt="arrow-down"/></div>
                                
                                    <ul class="home-quick-dropdown">
                                        <li><a href="/search?q=General+Portfolio">Under Construction</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
            </div>

            <div class="home-right-nav">
                <ul>
                    <li id="friend-drop"><a href="#"><div><img class="nav-icons" src="/assets/icons/icons8-add-user-group-man-man-96.png"/></div></a>
                        <ul class="add-friend-dropdown">
                            
                            <div class="freq-header">
                                <span><strong>Friend Requests</strong></span>
                            </div>

                            <% for (let val of friendRequests) { %>
                        <li class="frequestTab">
                            <div class="freq-wrapper"><div class="thumb-profile-wrapper"><img class="nav-profile-icon" src="/publicAvatar/<%= val.requestFrom.email %>"/></div><span><%= val.requestFrom.fullName %></span></div>
                            <div class="freq-response">
                            <form method="POST" action="/users/confirm_friend">
                                <input type="hidden" value="accept" name="reqResponse"/>
                                <input type="hidden" value="<%= val.requestFrom._id %>" name="reqFrom"/>
                                <input type="hidden" value="<%= val._id %>", name="friendStatId"/>
                                <button class="freq-response-accept" type="submit">Accept</button>
                            </form>
                            <form method="POST" action="/users/confirm_friend">
                                <input type="hidden" value="decline" name="reqResponse"/>
                                <input type="hidden" value="<%= val.requestFrom._id %>" name="reqFrom"/>
                                <input type="hidden" value="<%= val._id %>", name="friendStatId"/>
                                <button class="freq-response-decline" type="submit">Decline</button>
                            </form>
                            </div>
                        </li>
                            <% } %>
                            
                        </ul>
                    </li>
                    <li><a href="#"><div><img class="nav-icons" src="/assets/icons/icons8-chat-room-96.png"/></div></a></li>
                    <li><div class="profile-icon-wrapper" style="cursor: pointer;"><img class="nav-profile-icon" src="/publicAvatar/<%=User.email%>" alt="profile-icon"/></div><ul class="home-nav-dropdown">
                        <li><a href="/users/profile/<%=User.username%>">Profile</a></li>
                        <li><a href="/users/settings">Account Settings</a></li>
                        <li><a href="/users/logout">Logout</a></li>
                    </ul></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <%-body%>

    <section style="display: none;"> <!-- Emit for now -->
        <h1>Websites that you might also like...</h1>

        <div>
            <div>
                <div><!-- Portfolio Image background --></div>
                <div><!-- This is to be a realtive -->
                    <div><img src="#" alt="User-avatar"/></div>
                    <h2>UserName</h2>
                    <p>User-bio</p>
                    <a href="#">POrtfolio-link</a>
                </div>
            </div>
        </div>

    </section>

    <footer>
        <div class="footer-desc">
            <div><img style="width: 100px; border: 1px solid #e5e5e5; border-radius: 5px 5px 0 0; margin-bottom: 5px; " src="/assets/icons/logo_noText.svg" alt="portlogue-logo"/></div>
            <span class="footer-desc-span">Sharing and browsing personal websites made easy!</span>
            <p class="footer-desc-p">Showcase and share your wordpress, wix,
                weebly, and shopify websites with portlogue. Portlogue stores your websites in a single account and displays it upon clicking on your 
                profile. Join a community where it's all about 
                sharing and exploring personal websites.</p>
            <div class="footer-desc-social">
                <div><img src="#" alt="facebook-icon"></div>
                <div><img src="#" alt="youtube-icon"></div>
                <div><img src="#" alt="linkedin-icon"></div>
                <div><img src="#" alt="twitter-icon"></div>
            </div>

            <p style="font-size: 16px; color: #7f7f7f;">©2019 PORTLOGUE. All rights reserved.</p>
        </div>

        <div>
            <h3>PortLogue</h3>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>

        <div>
            <h3>Community</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </div>

        <div>
            <h3>Placeholder</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </div>

        <div>
            <h3>Placeholder</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>