<% if (feature.length > 0){ %>

    <section id="feature-panel">

            <div class="feature-overlay">
                <img id="featured-image" src="/webThumb/<%=feature[selected].website._id%>"/>
            </div>
            
            <div class="feature-content">
                
                    <div class="feature-content-divOne">
                        <div class="feature-content-divOne-moment ">
                            <span><strong>Featured Site</strong></span>
                            <span><%=moment().format("LL")%></5></span>
                        </div>
                
                        <div class="feature-content-divOne-type-category">
                                            <!-- toFix -->
                            <span><%=feature[selected].website.stylesDisplay%></span>
                            <span><%=feature[selected].website.technologiesDisplay%></span>
                        </div>
                    </div>
                    <div class="feature-content-divTwo">
                            <h1 onclick="getWebsite(this)" id="featured-sitename" data-website="<%=feature[selected].website._id%>"><strong><%=feature[selected].website.sitenameDisplay%></strong></h1>
                        <div>
                            <a class="feature-content-divTwo-sitename-avatar" href="/users/profile/<%= feature[selected].website.owner.username %>">
                                <div><img style="height: 100%" src="/publicAvatar/<%=feature[selected].website.owner.email%>"/></div>
                                <span class="h1-sub">By <%=feature[selected].website.owner.fullName%></span>
                            </a>
                        </div>
                    </div>
                    <div class="feature-content-divThree">
                            <div class="like-favourite">
                                    <form id="likeForm">
                                        <button onclick="directRegister()" data-website="<%=feature[selected].website._id%>" class="likeStyle featured" id="likeButton"><img class="nav-icons" src="/assets/icons/icons8-facebook-like-96-white.png"/><span><%=feature[selected].website.likes%></span></button>
                                    </form>
                                    <form id="favForm">
                                        <button  onclick="directRegister()" data-website="<%=feature[selected].website._id%>" class="favStyle featured" id="favButton"><img class="nav-icons" src="/assets/icons/icons8-heart-96.png"/>Favorite</button>
                                    </form>
                                </div>
                        <div class="feature-content-divThree-description">
                            <span>Description</span>
                            <span class="feature-content-description-container"><%=feature[selected].website.description ? feature[selected].website.description : "No Description" %></span>
                        </div>
                    </div>
                
                </div>
            
            </section>

<% } else{ %>
    <!-- Nothing-->
<% } %>

<section id="discoverSection">
<nav class="discover-nav">
    <div class="for-allign"><!-- For allignment --></div>
                <ul>
                    <li class="discover-nav-li"><a href="/discover/new#discoverSection">New</a></li>
                    <li class="discover-nav-li"><a href="/discover/highest_rated#discoverSection">Highest Rated</a></li>
                    <li class="discover-nav-li"><a href="/discover/most_viewed#discoverSection">Most Viewed</a></li>
                    <li class="discover-nav-li"><a href="/users/register">Favorites</a></li>
                </ul>
    <div class="for-allign">
        <div id="filterIcon" class="filterLabel"><img src="/assets/icons/icons8-filter-96.png" class="nav-icons"/><span class="filter-icon-span">Filters</span></div>
    </div> 
</nav>
<ul class="filter-dropdown">
    <div class="align-filter-dropdown"><!-- For allignment --></div>

        <div class="filter-dropdown-li">
        <li>
            <span><input onkeyup="filterLi('typeId-dropdown','typeId')" id="typeId"/></span>
            <ul id="typeId-dropdown" class="sub-dropdown">
                    <li onclick="loadQry(this)" data-type="3d-illustration" data-filter="styles" class="qry-type"><span>3-dimensional Illustration</span></li>
                    <li onclick="loadQry(this)" data-type="retro" data-filter="styles" class="qry-type"><span>Retro</span></li>
                    <li onclick="loadQry(this)" data-type="cartoons-illustrations" data-filter="styles" class="qry-type"><span>Cartoons & Illustrations</span></li>
                    <li onclick="loadQry(this)" data-type="unique-typography" data-filter="styles" class="qry-type"><span>Unique Typography</span></li>
                    <li onclick="loadQry(this)" data-type="material" data-filter="styles" class="qry-type"><span>Material</span></li>
                    <li onclick="loadQry(this)" data-type="two-tone-color" data-filter="styles" class="qry-type"><span>Two Tone color</span></li>
                    <li onclick="loadQry(this)" data-type="photo-realism" data-filter="styles" class="qry-type"><span>Photo-Realism</span></li>
                    <li onclick="loadQry(this)" data-type="transparency" data-filter="styles" class="qry-type"><span>Transparency</span></li>
                    <li onclick="loadQry(this)" data-type="grunge" data-filter="styles" class="qry-type"><span>Grunge</span></li>
                    <li onclick="loadQry(this)" data-type="abstract" data-filter="styles" class="qry-type"><span>Abstract</span></li>
                    <li onclick="loadQry(this)" data-type="semi-flat" data-filter="styles" class="qry-type"><span>Semi-Flat</span></li>
                    <li onclick="loadQry(this)" data-type="card-design" data-filter="styles" class="qry-type"><span>Card Design</span></li>
                    <li onclick="loadQry(this)" data-type="Isometric" data-filter="styles" class="qry-type"><span>Isometric</span></li>
                    <li onclick="loadQry(this)" data-type="freehand-drawing" data-filter="styles" class="qry-type"><span>Freehand Drawing</span></li>
                    <li onclick="loadQry(this)" data-type="minimalist" data-filter="styles" class="qry-type"><span>Minimalist</span></li>
            </ul>
        </li>
        <li>
                <span><input onkeyup="filterLiTech('categoryId-dropdown','categoryId')" id="categoryId"/></span>
            <ul id="categoryId-dropdown" class="sub-dropdown">
                    <li onclick="loadQry(this)" data-type="angularjs" data-filter="technologies" class="qry-type">AngularJS</li>
                    <li onclick="loadQry(this)" data-type="apache" data-filter="technologies" class="qry-type">Apache</li>
                    <li onclick="loadQry(this)" data-type="barbajs" data-filter="technologies" class="qry-type">Barba.js</li>
                    <li onclick="loadQry(this)" data-type="backbonejs" data-filter="technologies" class="qry-type">Backbone.js</li>
                    <li onclick="loadQry(this)" data-type="bootstrap" data-filter="technologies" class="qry-type">Bootstrap</li>
                    <li onclick="loadQry(this)" data-type="css-framework" data-filter="technologies" class="qry-type">CSS Framework</li>
                    <li onclick="loadQry(this)" data-type="css3" data-filter="technologies" class="qry-type">CSS3</li>
                    <li onclick="loadQry(this)" data-type="cloudfare" data-filter="technologies" class="qry-type">CloudFare</li>
                    <li onclick="loadQry(this)" data-type="craft-cms" data-filter="technologies" class="qry-type">Craft CMS</li>
                    <li onclick="loadQry(this)" data-type="createjs" data-filter="technologies" class="qry-type">CreateJS</li>
                    <li onclick="loadQry(this)" data-type="d3" data-filter="technologies" class="qry-type">D3</li>
                    <li onclick="loadQry(this)" data-type="debian" data-filter="technologies" class="qry-type">Debian</li>
                    <li onclick="loadQry(this)" data-type="demandware" data-filter="technologies" class="qry-type"value="demandware">Demandware</li>
                    <li onclick="loadQry(this)" data-type="drupal" data-filter="technologies" class="qry-type"value="drupal">Drupal</li>
                    <li onclick="loadQry(this)" data-type="express" data-filter="technologies" class="qry-type"value="express">Express</li>
                    <li onclick="loadQry(this)" data-type="facebook-api" data-filter="technologies" class="qry-type"value="facebook-api">Facebook API</li>
                    <li onclick="loadQry(this)" data-type="fastclick" data-filter="technologies" class="qry-type"value="fastclick">FastClick</li>
                    <li onclick="loadQry(this)" data-type="firebase" data-filter="technologies" class="qry-type"value="firebase">Firebase</li>
                    <li onclick="loadQry(this)" data-type="font-awasome" data-filter="technologies" class="qry-type"value="font-awesome">Font Awesome</li>
                    <li onclick="loadQry(this)" data-type="glsl" data-filter="technologies" class="qry-type"value="glsl">GLSL</li>
                    <li onclick="loadQry(this)" data-type="gsap-animation" data-filter="technologies" class="qry-type"value="gsap-animation">GSAP Animation</li>
                    <li onclick="loadQry(this)" data-type="google-app-engine" data-filter="technologies" class="qry-type"value="google-app-engine">Google App Engine</li>
                    <li onclick="loadQry(this)" data-type="google-font-api" data-filter="technologies" class="qry-type"value="google-font-api">Google Font API</li>
                    <li onclick="loadQry(this)" data-type="html5" data-filter="technologies" class="qry-type"value="html5">HTML5</li>
                    <li onclick="loadQry(this)" data-type="hammerjs" data-filter="technologies" class="qry-type"value="hammerjs">Hammer.JS</li>
                    <li onclick="loadQry(this)" data-type="handlebars" data-filter="technologies" class="qry-type"value="handlebars">HandleBars</li>
                    <li onclick="loadQry(this)" data-type="iis" data-filter="technologies" class="qry-type"value="iis">IIS</li>
                    <li onclick="loadQry(this)" data-type="ink" data-filter="technologies" class="qry-type"value="ink">Ink</li>
                    <li onclick="loadQry(this)" data-type="knockout" data-filter="technologies" class="qry-type"value="knockout">Knockout</li>
                    <li onclick="loadQry(this)" data-type="laravel" data-filter="technologies" class="qry-type"value="laravel">Laravel</li>
                    <li onclick="loadQry(this)" data-type="lo-dash" data-filter="technologies" class="qry-type"value="">Lo-dash</li>
                    <li onclick="loadQry(this)" data-type="magento" data-filter="technologies" class="qry-type"value="magento">Magento</li>
                    <li onclick="loadQry(this)" data-type="mediaelementjs" data-filter="technologies" class="qry-type"value="mediaelementjs">MediaElement.js</li>
                    <li onclick="loadQry(this)" data-type="microsoft-asp-net" data-filter="technologies" class="qry-type"value="microsoft-asp-net">Microsoft ASP.NET</li>
                    <li onclick="loadQry(this)" data-type="modernizr" data-filter="technologies" class="qry-type"value="modernizr">Modernizr</li>
                    <li onclick="loadQry(this)" data-type="nginx" data-filter="technologies" class="qry-type"value="nginx">Nginx</li>
                    <li onclick="loadQry(this)" data-type="nodejs" data-filter="technologies" class="qry-type"value="nodejs">Node.js</li>
                    <li onclick="loadQry(this)" data-type="nuxtjs" data-filter="technologies" class="qry-type"value="nuxtjs">Nuxt.js</li>
                    <li onclick="loadQry(this)" data-type="owl-carousel" data-filter="technologies" class="qry-type"value="owl-carousel">OWL Carousel</li>
                    <li onclick="loadQry(this)" data-type="optimizely" data-filter="technologies" class="qry-type"value="optimizely">Optimizely</li>
                    <li onclick="loadQry(this)" data-type="php" data-filter="technologies" class="qry-type"value="php">PHP</li>
                    <li onclick="loadQry(this)" data-type="pixijs" data-filter="technologies" class="qry-type"value="pixijs">PixiJS</li>
                    <li onclick="loadQry(this)" data-type="reactjs" data-filter="technologies" class="qry-type"value="reactjs">ReactJS</li>
                    <li onclick="loadQry(this)" data-type="requirejs" data-filter="technologies" class="qry-type"value="requirejs">RequireJS</li>
                    <li onclick="loadQry(this)" data-type="revealjs" data-filter="technologies" class="qry-type"value="revealjs">Reveal.js</li>
                    <li onclick="loadQry(this)" data-type="ruby" data-filter="technologies" class="qry-type"value="ruby">Ruby</li>
                    <li onclick="loadQry(this)" data-type="svg" data-filter="technologies" class="qry-type"value="svg">SVG</li>
                    <li onclick="loadQry(this)" data-type="shopify" data-filter="technologies" class="qry-type"value="shopify">Shopify</li>
                    <li onclick="loadQry(this)" data-type="skrollrjs" data-filter="technologies" class="qry-type"value="skrollrjs">Skrollr.js</li>
                    <li onclick="loadQry(this)" data-type="snapsvg" data-filter="technologies" class="qry-type"value="snapsvg">Snap.svg</li>
                    <li onclick="loadQry(this)" data-type="socketio" data-filter="technologies" class="qry-type"value="socketio">Socket.io</li>
                    <li onclick="loadQry(this)" data-type="soundmanager" data-filter="technologies" class="qry-type"value="soundmanager">SoundManager</li>
                    <li onclick="loadQry(this)" data-type="spinjs" data-filter="technologies" class="qry-type"value="spinjs">Spin.js</li>
                    <li onclick="loadQry(this)" data-type="threejs" data-filter="technologies" class="qry-type"value="threejs">Three.js</li>
                    <li onclick="loadQry(this)" data-type="twitter-api" data-filter="technologies" class="qry-type"value="twitter-api">Twitter API</li>
                    <li onclick="loadQry(this)" data-type="typekit" data-filter="technologies" class="qry-type"value="typekit">Typekit</li>
                    <li onclick="loadQry(this)" data-type="ubuntu" data-filter="technologies" class="qry-type"value="ubuntu">Ubuntu</li>
                    <li onclick="loadQry(this)" data-type="underscorejs" data-filter="technologies" class="qry-type"value="underscorejs">Underscore.js</li>
                    <li onclick="loadQry(this)" data-type="vr" data-filter="technologies" class="qry-type"value="vr">VR</li>
                    <li onclick="loadQry(this)" data-type="varnish" data-filter="technologies" class="qry-type"value="varnish">Varnish</li>
                    <li onclick="loadQry(this)" data-type="velocityjs" data-filter="technologies" class="qry-type"value="velocityjs">Velocity.js</li>
                    <li onclick="loadQry(this)" data-type="videojs" data-filter="technologies" class="qry-type"value="videojs">VideoJS</li>
                    <li onclick="loadQry(this)" data-type="vuejs" data-filter="technologies" class="qry-type"value="vuejs">Vue.js</li>
                    <li onclick="loadQry(this)" data-type="webgl" data-filter="technologies" class="qry-type"value="webgl">WebGL</li>
                    <li onclick="loadQry(this)" data-type="websockets" data-filter="technologies" class="qry-type"value="websockets">WebSockets</li>
                    <li onclick="loadQry(this)" data-type="webvr" data-filter="technologies" class="qry-type"value="webvr">WebVR</li>
                    <li onclick="loadQry(this)" data-type="owebpackther" data-filter="technologies" class="qry-type"value="webpack">Webpack</li>
                    <li onclick="loadQry(this)" data-type="woocommerce" data-filter="technologies" class="qry-type"value="woocommerce">WooCommerce</li>
                    <li onclick="loadQry(this)" data-type="wordpress" data-filter="technologies" class="qry-type"value="wordpress">Wordpress</li>
                    <li onclick="loadQry(this)" data-type="yepnope" data-filter="technologies" class="qry-type"value="yepnope">Yepnope</li>
                    <li onclick="loadQry(this)" data-type="youtube-api" data-filter="technologies" class="qry-type"value="youtube-api">Youtube API</li>
                    <li onclick="loadQry(this)" data-type="zepto" data-filter="technologies" class="qry-type"value="zepto">Zepto</li>
                    <li onclick="loadQry(this)" data-type="jquery" data-filter="technologies" class="qry-type"value="jquery">jQuery</li>
                    <li onclick="loadQry(this)" data-type="tweenjs" data-filter="technologies" class="qry-type"value="tweenjs">tween.js</li>
            </ul>
        </li>
        <li>
                <span><input onkeyup="filterLi('colorDisc-dropdown','colorDiscId')" id="colorDiscId"/></span>
                <ul id="colorDisc-dropdown" class="sub-dropdown">
                    <li onclick="loadQry(this)" data-type="black" data-filter="colors" class="qry-type"><span>Black</span></li>
                    <li onclick="loadQry(this)" data-type="blue" data-filter="colors" class="qry-type"><span>Blue</span></li>
                    <li onclick="loadQry(this)" data-type="brown" data-filter="colors" class="qry-type"><span>Brown</span></li>
                    <li onclick="loadQry(this)" data-type="turqoise" data-filter="colors" class="qry-type"><span>Turqoise</span></li>
                    <li onclick="loadQry(this)" data-type="orange" data-filter="colors" class="qry-type"><span>Orange</span></li>
                    <li onclick="loadQry(this)" data-type="pink" data-filter="colors" class="qry-type"><span>Pink</span></li>
                    <li onclick="loadQry(this)" data-type="red" data-filter="colors" class="qry-type"><span>Red</span></li>
                    <li onclick="loadQry(this)" data-type="grey" data-filter="colors" class="qry-type"><span>Grey</span></li>
                    <li onclick="loadQry(this)" data-type="white" data-filter="colors" class="qry-type"><span>White</span></li>
                    <li onclick="loadQry(this)" data-type="yellow" data-filter="colors" class="qry-type"><span>Yellow</span></li>
            </ul>
        </li>
        <li>
            <span><input onkeyup="filterLi('country-dropdown','countryDiscId')" id="countryDiscId" placeholder="<%=filter.country || 'Country'%>"/></span>
            <ul id="country-dropdown" class="sub-dropdown">
                <%-(function(countryList) {
                    let toDisplay = [];
                    for (let val of countryList) {
                        toDisplay.push(`<li onclick="loadQry(this)" data-type=${val} data-filter="country" class="qry-type"><span>${val}</span></li>`);
                    }
                    return toDisplay.join("");
                }(countryArray))%>
            </ul>
        </li>
    </div>

        <div class="align-filter-dropdown clear-filter"><span id="clearFilterId">Clear filters</span></div>
</ul>
    <div class="discover-results">
    <ul class="discover-results-ul" id="userQry"><!-- Custom Limited-->

        <% for(let website of webResults) { %>
            <li class="portfolio-select">
                <div>
                    <div onClick="getWebsite(this);" data-website="<%=website._id%>" data-url="<%=website.url%>" class="portfolio-thumbnail">
                        <div class="portfolio-thumbnail-bar"><!--Grey bar--></div>
                        <div><img class="portfolio-thumbnail-img" src="/webThumb/<%=website._id%>"/></div>
                    </div>
                </div>
                <div class="thumbnail-desc">
                    <div class="profile-name-wrapper">
                        <a href="/users/profile/<%=website.owner.username%>"><div class="thumb-profile-wrapper"><img class="thumbnail-profile-img" src="/publicAvatar/<%=website.owner.email%>"/></div><%=website.owner.fullName%></a>
                    </div>
                    <span class="occupation-flex"><%=website.stylesDisplay%></span>
                </div>
            </li>
        <% } %>

    </ul>
    <div class="pageControl">
        <form method="POST" action="/newQryPrev">
            <input type="hidden" value="<%=page%>" name="pageNumber"/>
            <input type="hidden" value="<%=filter.type%>" name="type">
            <input type="hidden" value="<%=filter.category%>" name="category">
            <input type="hidden" value="<%=filter.colors%>" name="colors">
            <input type="hidden" value="<%=filter.country%>" name="country">
            <input type="hidden" value="<%=pageSection%>" name="pageSection"/>
            <button class="prevPag" type="submit">Back</button>
        </form>


        <form method="POST" action="/newQryNext">
            <input type="hidden" value="<%=page%>" name="pageNumber"/>
            <input type="hidden" value="<%=filter.type%>" name="type">
            <input type="hidden" value="<%=filter.category%>" name="category">
            <input type="hidden" value="<%=filter.colors%>" name="colors">
            <input type="hidden" value="<%=filter.country%>" name="country">
            <input type="hidden" value="<%=pageSection%>" name="pageSection"/>
            <button class="nextPag" type="submit" <%=qryNextStat%>>Next</button>
        </form>
    </div>

    </div>
</section>

<script>
//Initialize websiteDisplay

let websiteId;

let webUrl;

let selected = <%-JSON.stringify( selected )%>;

let filterFront = <%-JSON.stringify(filter)%>;

let pageSection = <%-JSON.stringify(pageSection)%>;

//Need WEb and URL
let feature = <%- JSON.stringify(feature) %>;

let viewport = {
    width: window.innerWidth,
    height: window.innerHeight
}

function filterLi(ulId, inputId) {

let input, filter, ul, li, a, i, txtValue;

    ul = document.getElementById(ulId);
    input = document.getElementById(inputId);
    filter = input.value.toUpperCase();
    li = ul.getElementsByTagName("li");

    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("span")[0];
        txtValue = a.innerHTML || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}

function filterLiTech(ulId, inputId) {

let input, filter, ul, li, a, i, txtValue;

    ul = document.getElementById(ulId);
    input = document.getElementById(inputId);
    filter = input.value.toUpperCase();
    li = ul.getElementsByTagName("li");

    for (i = 0; i < li.length; i++) {
        a = li[i];
        txtValue = a.innerHTML || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}

//Load query
function loadQry(element) {
    
    //Current string
    let current = window.location.href;

    let qry = element.getAttribute("data-type");

    let filter = element.getAttribute("data-filter");

    let newParam = {};

    newParam[filter] = qry;
    //This module is a god send
    location.params(newParam);
}

//Function to grab info from chosen website
function getWebsite(element) {
    websiteId = element.getAttribute("data-website");
    webUrl = element.getAttribute("data-url");
}

if (pageSection === "favorites") {
    $("#filterIcon").css("display", "none");
}

if ( (window.location.href.indexOf("#discoverSection") === -1) && (window.location.href.indexOf("?") > -1) ) {
    document.getElementById("discoverSection").scrollIntoView();
}

//Check if params is empty
for (let val in location.params()) {
        if (location.params().hasOwnProperty(val)) {
            $(".filter-dropdown").css("transition", "0s")
            $(".filter-dropdown").addClass("filter-active");
        }
    }

$("#favForm").on("submit", ()=> {
        event.preventDefault();

        $.ajax({
            url: "/users/favorite",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ websiteId }),
            success: (data)=> {
                //Empty
            }
        });
    });

$("#likeForm").on("submit", ()=> {
        event.preventDefault();

        $.ajax({
            url: "/users/like_site",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ websiteId }),
            success: (data)=> {
                //Empty
            }
        });
    }); 


//Feauture panel

//parallax image 
let featuredImage = document.getElementById("featured-image");
new simpleParallax(featuredImage, { scale: 1.3 });

switch (pageSection) {
    case "new":
        $(".discover-nav-li:first-of-type").css("background", "grey");
        $(".discover-nav-li:first-of-type > a").css("color", "#ffffff");
        break;
    case "highest_rated":
        $(".discover-nav-li:nth-of-type(2)").css("background", "grey");
        $(".discover-nav-li:nth-of-type(2) > a").css("color", "#ffffff");
        break;
    case "most_viewed":
        $(".discover-nav-li:nth-of-type(3)").css("background", "grey");
        $(".discover-nav-li:nth-of-type(3) > a").css("color", "#ffffff");
        break;
    case "favorites":
        $(".discover-nav-li:nth-of-type(4)").css("background", "grey");
        $(".discover-nav-li:nth-of-type(4) > a").css("color", "#ffffff");
        break;
}

/* Filter */

//Web popup on click if feature
$("#featured-sitename").on("click", ()=> {
    //Check if mobile toFix
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
         // Take the user to a different screen here.
         let win = window.open(feature[selected].website.url, "_blank");
         win.focus();
    }

    else {
        $("#web-frame").attr("src", `/users/website_hover/${websiteId}`);
        $(".web-popup").css("z-index", "4");
        $("body").css("overflow", "hidden");
        console.log("functions ran");
    }

    //Ajax to increment viewed site and push to user database
   $.ajax({
        method: "POST",
        contentType: "application/json",
        url: "/users/viewed_sites",
        data: JSON.stringify({ websiteId }),
        success: (data) => {
            //Empty
        }
    });
});

//Clear Filter 
$("#clearFilterId").on("click", ()=> {
    window.location = window.location.href.split("?")[0]+"#discoverSection";
})

//Show and hide typeId
$("#typeId").on("click", ()=> {
    $("#typeId-dropdown").css("display", "block");
})
$("#typeId").on("clickout", ()=> {
    $("#typeId-dropdown").css("display", "none");
})

//Show category and hide
$("#categoryId").on("click", ()=> {
    $("#categoryId-dropdown").css("display", "block");
})
$("#categoryId").on("clickout", ()=> {
    $("#categoryId-dropdown").css("display", "none");
})

//Show color and hide
$("#colorDiscId").on("click", ()=> {
    $("#colorDisc-dropdown").css("display", "block");
})
$("#colorDiscId").on("clickout", ()=> {
    $("#colorDisc-dropdown").css("display", "none");
})

//Show country and hide
$("#countryDiscId").on("click", ()=> {
    $("#country-dropdown").css("display", "block");
})
$("#countryDiscId").on("clickout", ()=> {
    $("#country-dropdown").css("display", "none");
})

//Render web properly

    switch (filterFront.styles) {
        case "3d-illustration":
            $("#typeId").attr("placeholder","3-dimensional Illustration");
            break;
        case "retro":
            $("#typeId").attr("placeholder","Retro");
            break;
        case "cartoons-illustrations":
            $("#typeId").attr("placeholder","Cartoons & Illustrations");
            break;
        case "unique-typography":
            $("#typeId").attr("placeholder","Unique Typography");
            break;
        case "material":
            $("#typeId").attr("placeholder","Material");
            break;
        case "two-tone-color":
            $("#typeId").attr("placeholder","Two Tone color");
            break;
        case "photo-realism":
            $("#typeId").attr("placeholder","Photo-Realism");
            break;
        case "transparency":
            $("#typeId").attr("placeholder","Transparency");
            break;
        case "grunge":
            $("#typeId").attr("placeholder","Grunge");
            break;
        case "abstract":
            $("#typeId").attr("placeholder","Abstract");
            break;
        case "semi-flat":
            $("#typeId").attr("placeholder","Semi-Flat");
            break;
        case "card-design":
            $("#typeId").attr("placeholder","Card Design");
            break;
        case "isometric":
            $("#typeId").attr("placeholder","Isometric");
            break;
        case "freehand-drawing":
            $("#typeId").attr("placeholder","Freehand Drawing");
            break;
        case "minimalist":
            $("#typeId").attr("placeholder","Minimalist");
            break;
        case "other":
            $("#typeId").attr("placeholder","Other");
            break;
        default: 
            $("#typeId").attr("placeholder","Style")
    }

    function fitlerRender(value) {
        //Replace dashes with spaces, and capitalize all letter after a space
         return value.toLowerCase().split("-").map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
    }

    location.params().colors ? $("#colorDiscId").attr("placeholder",fitlerRender(location.params().colors)): $("#colorDiscId").attr("placeholder","Colors");

    location.params().technologies ? $("#categoryId").attr("placeholder",fitlerRender(location.params().technologies)) : $("#categoryId").attr("placeholder","Technologies");

//Display website now that websiteDisplay has value
$(".portfolio-thumbnail").on("click", ()=> {
    //Check if mobile toFix
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
         // Take the user to a different screen here.
         let win = window.open(webUrl, "_blank");
         win.focus();
    }

    else {
        $("#web-frame").attr("src", `/users/website_hover/${websiteId}`);
        $(".web-popup").css("z-index", "4");
        $("body").css("overflow", "hidden");
        console.log("functions ran");
    }

    //Ajax to increment viewed site and push to user database
   $.ajax({
        method: "POST",
        contentType: "application/json",
        url: "/users/viewed_sites",
        data: JSON.stringify({ websiteId }),
        success: (data) => {
            //Empty
        }
    });
});

/* Quick Fix */

//Disable back
if (`<%=page%>` === `1`) {
    $(`.prevPag`).attr("disabled","true");
}



</script>