
<section id="feature-panel">

<div class="feature-overlay">
    <img id="featured-image" src="/webThumb/<%=feature[0].website._id%>"/>
</div>

<div class="feature-content">
    
    <div class="feature-content-divOne">
        <div class="feature-content-divOne-moment ">
            <span><strong>Featured Site</strong></span>
            <span><%=moment().format("LL")%></5></span>
        </div>

        <div class="feature-content-divOne-type-category">
            <span><%=feature[0].website.typeDisplay%></span>
            <span><%=feature[0].website.categoryDisplay%></span>
        </div>
    </div>
    <div class="feature-content-divTwo">
            <h1 onclick="getWebsite(this)" id="featured-sitename" data-website="<%=feature[0].website._id%>"><strong><%=feature[0].website.sitenameDisplay%></strong></h1>
        <div>
            <a class="feature-content-divTwo-sitename-avatar" href="/users/profile/<%= feature[0].website.owner.username %>">
                <div><img style="height: 100%" src="/publicAvatar/<%=feature[0].website.owner.email%>"/></div>
                <span class="h1-sub">By <%=feature[0].website.owner.fullName%></span>
            </a>
        </div>
    </div>
    <div class="feature-content-divThree">
            <div class="like-favourite">
                    <form id="likeForm">
                        <button onclick="getWebsite(this)" data-website="<%=feature[0].website._id%>" class="likeStyle featured" id="likeButton"><img class="nav-icons" src="/assets/icons/icons8-facebook-like-96-white.png"/><span><%=feature[0].website.likes%></span></button>
                    </form>
                    <form id="favForm">
                        <button  onclick="getWebsite(this)" data-website="<%=feature[0].website._id%>" class="favStyle featured" id="favButton"><img class="nav-icons" src="/assets/icons/icons8-heart-96.png"/>Favorite</button>
                    </form>
                </div>
        <div class="feature-content-divThree-description">
            <span>Description</span>
            <span class="feature-content-description-container"><%=feature[0].website.description ? feature[0].website.description : "No Description" %></span>
        </div>
    </div>

</div>

</section>

<section id="discoverSection">
<nav class="discover-nav">
    <div class="for-allign"><!-- For allignment --></div>
                <ul>
                    <li class="discover-nav-li"><a href="/discover/new#discoverSection">New</a></li>
                    <li class="discover-nav-li"><a href="/discover/highest_rated#discoverSection">Highest Rated</a></li>
                    <li class="discover-nav-li"><a href="/discover/most_viewed#discoverSection">Most Viewed</a></li>
                    <li class="discover-nav-li"><a href="/discover/favorites#discoverSection">Favorites</a></li>
                </ul>
    <div class="for-allign">
        <div id="filterIcon" class="filterLabel"><img src="/assets/icons/icons8-filter-96.png" class="nav-icons"/><span class="filter-icon-span">Filters</span></div>
    </div> 
</nav>
<ul class="filter-dropdown">
    <div class="align-filter-dropdown"><!-- For allignment --></div>

        <div class="filter-dropdown-li">
        <li>
            <span><input onkeyup="filterLi('typeId-dropdown','typeId')" id="typeId"/></span>
            <ul id="typeId-dropdown" class="sub-dropdown">
                    <li onclick="loadQry(this)" data-type="personal" data-filter="type" class="qry-type"><span>Personal</span></li>
                    <li onclick="loadQry(this)" data-type="ecommerce" data-filter="type" class="qry-type"><span>E-Commerce</span></li>
                    <li onclick="loadQry(this)" data-type="photosharing" data-filter="type" class="qry-type"><span>Photo Sharing</span></li>
                    <li onclick="loadQry(this)" data-type="writers" data-filter="type" class="qry-type"><span>Writers/Authors</span></li>
                    <li onclick="loadQry(this)" data-type="community" data-filter="type" class="qry-type"><span>Community Building</span></li>
                    <li onclick="loadQry(this)" data-type="mobile" data-filter="type" class="qry-type"><span>Mobile Device</span></li>
                    <li onclick="loadQry(this)" data-type="blogs" data-filter="type" class="qry-type"><span>Blogs</span></li>
                    <li onclick="loadQry(this)" data-type="informational" data-filter="type" class="qry-type"><span>Informational</span></li>
                    <li onclick="loadQry(this)" data-type="online-business" data-filter="type" class="qry-type"><span>Online Business Brochure/Catalogs</span></li>
            </ul>
        </li>
        <li>
                <span><input onkeyup="filterLi('categoryId-dropdown','categoryId')" id="categoryId"/></span>
            <ul id="categoryId-dropdown" class="sub-dropdown">
                    <li onclick="loadQry(this)" data-type="architecture" data-filter="category" class="qry-type"><span>Architecture</span></li>
                    <li onclick="loadQry(this)" data-type="art-illustration" data-filter="category" class="qry-type"><span>Art & Illustration</span></li>
                    <li onclick="loadQry(this)" data-type="business-corporate" data-filter="category" class="qry-type"><span>Business & Corporate</span></li>
                    <li onclick="loadQry(this)" data-type="culture-education" data-filter="category" class="qry-type"><span>Culture & Education</span></li>
                    <li onclick="loadQry(this)" data-type="design-agencies" data-filter="category" class="qry-type"><span>Design Agencies</span></li>
                    <li onclick="loadQry(this)" data-type="events" data-filter="category" class="qry-type"><span>Events</span></li>
                    <li onclick="loadQry(this)" data-type="experimental" data-filter="category" class="qry-type"><span>Experimental</span></li>
                    <li onclick="loadQry(this)" data-type="fashion" data-filter="category" class="qry-type"><span>Fashion</span></li>
                    <li onclick="loadQry(this)" data-type="film-tv" data-filter="category" class="qry-type"><span>Film & TV</span></li>
                    <li onclick="loadQry(this)" data-type="food-drink" data-filter="category" class="qry-type"><span>Food & Drink</span></li>
                    <li onclick="loadQry(this)" data-type="games-entertainment" data-filter="category" class="qry-type"><span>Games & Entertainment</span></li>
                    <li onclick="loadQry(this)" data-type="hotel/restaurant" data-filter="category" class="qry-type"><span>Hotel/Restaurant</span></li>
                    <li onclick="loadQry(this)" data-type="institutions" data-filter="category" class="qry-type"><span>Institutions</span></li>
                    <li onclick="loadQry(this)" data-type="magazine/newspaper/blog" data-filter="category" class="qry-type"><span>Magazine/Newspaper</span></li>
                    <li onclick="loadQry(this)" data-type="mobile-apps" data-filter="category" class="qry-type"><span>Mobile & Apps</span></li>                    
                    <li onclick="loadQry(this)" data-type="music-sound" data-filter="category" class="qry-type"><span>Music & Sound</span></li>
                    <li onclick="loadQry(this)" data-type="photography" data-filter="category" class="qry-type"><span>Photography</span></li>
                    <li onclick="loadQry(this)" data-type="promotional" data-filter="category" class="qry-type"><span>Promotional</span></li>
                    <li onclick="loadQry(this)" data-type="real-estate" data-filter="category" class="qry-type"><span>Real Estate</span></li>
                    <li onclick="loadQry(this)" data-type="sports" data-filter="category" class="qry-type"><span>Sports</span></li>
                    <li onclick="loadQry(this)" data-type="startups" data-filter="category" class="qry-type"><span>Startups</span></li>
                    <li onclick="loadQry(this)" data-type="technology" data-filter="category" class="qry-type"><span>Technology</span></li>
                    <li onclick="loadQry(this)" data-type="web-interactive" data-filter="category" class="qry-type"><span>Web & Interactive</span></li>
                    <li onclick="loadQry(this)" data-type="other" data-filter="category" class="qry-type"><span>Other</span></li>
            </ul>
        </li>
        <li>
                <span><input onkeyup="filterLi('colorDisc-dropdown','colorDiscId')" id="colorDiscId"/></span>
                <ul id="colorDisc-dropdown" class="sub-dropdown">
                    <li onclick="loadQry(this)" data-type="black" data-filter="colors" class="qry-type"><span>Black</span></li>
                    <li onclick="loadQry(this)" data-type="blue" data-filter="colors" class="qry-type"><span>Blue</span></li>
                    <li onclick="loadQry(this)" data-type="brown" data-filter="colors" class="qry-type"><span>Brown</span></li>
                    <li onclick="loadQry(this)" data-type="turqoise" data-filter="colors" class="qry-type"><span>Turqoise</span></li>
                    <li onclick="loadQry(this)" data-type="orange" data-filter="colors" class="qry-type"><span>Orange</span></li>
                    <li onclick="loadQry(this)" data-type="pink" data-filter="colors" class="qry-type"><span>Pink</span></li>
                    <li onclick="loadQry(this)" data-type="red" data-filter="colors" class="qry-type"><span>Red</span></li>
                    <li onclick="loadQry(this)" data-type="grey" data-filter="colors" class="qry-type"><span>Grey</span></li>
                    <li onclick="loadQry(this)" data-type="white" data-filter="colors" class="qry-type"><span>White</span></li>
                    <li onclick="loadQry(this)" data-type="yellow" data-filter="colors" class="qry-type"><span>Yellow</span></li>
            </ul>
        </li>
        <li>
            <span><input onkeyup="filterLi('country-dropdown','countryDiscId')" id="countryDiscId" placeholder="<%=filter.country || 'Country'%>"/></span>
            <ul id="country-dropdown" class="sub-dropdown">
                <%-(function(countryList) {
                    let toDisplay = [];
                    for (let val of countryList) {
                        toDisplay.push(`<li onclick="loadQry(this)" data-type=${val} data-filter="country" class="qry-type"><span>${val}</span></li>`);
                    }
                    return toDisplay.join("");
                }(countryArray))%>
            </ul>
        </li>
    </div>

        <div class="align-filter-dropdown clear-filter"><span id="clearFilterId">Clear filters</span></div>
</ul>
    <div class="discover-results">
    <ul class="discover-results-ul" id="userQry"><!-- Custom Limited-->

        <% for(let website of webResults) { %>
            <li class="portfolio-select">
                <div>
                    <div onClick="getWebsite(this);" data-website="<%=website._id%>" data-url="<%=website.url%>" class="portfolio-thumbnail">
                        <div class="portfolio-thumbnail-bar"><!--Grey bar--></div>
                        <div><img class="portfolio-thumbnail-img" src="/webThumb/<%=website._id%>"/></div>
                    </div>
                </div>
                <div class="thumbnail-desc">
                    <div class="profile-name-wrapper">
                        <a href="/users/profile/<%=website.owner.username%>"><div class="thumb-profile-wrapper"><img class="thumbnail-profile-img" src="/publicAvatar/<%=website.owner.email%>"/></div><%=website.owner.fullName%></a>
                    </div>
                    <span class="occupation-flex"><%=website.typeDisplay%></span>
                </div>
            </li>
        <% } %>

    </ul>
    <div class="pageControl">
        <form method="POST" action="/newQryPrev">
            <input type="hidden" value="<%=page%>" name="pageNumber"/>
            <input type="hidden" value="<%=filter.type%>" name="type">
            <input type="hidden" value="<%=filter.category%>" name="category">
            <input type="hidden" value="<%=filter.colors%>" name="colors">
            <input type="hidden" value="<%=filter.country%>" name="country">
            <input type="hidden" value="<%=pageSection%>" name="pageSection"/>
            <button class="prevPag" type="submit">Back</button>
        </form>


        <form method="POST" action="/newQryNext">
            <input type="hidden" value="<%=page%>" name="pageNumber"/>
            <input type="hidden" value="<%=filter.type%>" name="type">
            <input type="hidden" value="<%=filter.category%>" name="category">
            <input type="hidden" value="<%=filter.colors%>" name="colors">
            <input type="hidden" value="<%=filter.country%>" name="country">
            <input type="hidden" value="<%=pageSection%>" name="pageSection"/>
            <button class="nextPag" type="submit" <%=qryNextStat%>>Next</button>
        </form>
    </div>

    </div>
</section>

<script>
//Initialize websiteDisplay
let websiteId;

let webUrl;

let filterFront = <%-JSON.stringify(filter)%>;

let pageSection = <%-JSON.stringify(pageSection)%>;

let featuredWeb = <%-JSON.stringify(feature[0].website._id)%>;

let featuredUrl = <%-JSON.stringify(feature[0].website.url)%>;

let reqUser = <%-JSON.stringify(User)%>;

function filterLi(ulId, inputId) {

let input, filter, ul, li, a, i, txtValue;

    ul = document.getElementById(ulId);
    input = document.getElementById(inputId);
    filter = input.value.toUpperCase();
    li = ul.getElementsByTagName("li");

    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("span")[0];
        txtValue = a.innerHTML || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}

//Load query
function loadQry(element) {
    
    //Current string
    let current = window.location.href;

    let qry = element.getAttribute("data-type");

    let filter = element.getAttribute("data-filter");

    let newParam = {};

    newParam[filter] = qry;
    //This module is a god send
    location.params(newParam);
}

//Function to grab info from chosen website
function getWebsite(element) {
    websiteId = element.getAttribute("data-website");
    webUrl = element.getAttribute("data-url");
}

if (pageSection === "favorites") {
    $("#filterIcon").css("display", "none");
}

if ( (window.location.href.indexOf("#discoverSection") === -1) && (window.location.href.indexOf("?") > -1) ) {
    document.getElementById("discoverSection").scrollIntoView();
}

//Check if params is empty
for (let val in location.params()) {
        if (location.params().hasOwnProperty(val)) {
            $(".filter-dropdown").css("transition", "0s")
            $(".filter-dropdown").addClass("filter-active");
        }
    }

//Check if featured site is liked
for (let val of reqUser.favorites) {
    if (val.toString() === featuredWeb.toString()) {
        $("#favButton").html("Added to favorites")
    }
}

//Fav button
$("#favButton").on("click", ()=> {

    if ($("#favButton").html() !== "Added to favorites") {
        $("#favButton").html("Added to favorites");
    }

    else {
        $("#favButton").html("Removed from favorites");
    }

});

$("#favForm").on("submit", ()=> {
        event.preventDefault();

        $.ajax({
            url: "/users/favorite",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ websiteId }),
            success: (data)=> {
                //Empty
            }
        });
    });

 //Check if featured site is liked
for (let val of reqUser.likedSites) {
    if (val.toString() === featuredWeb.toString()) {
        $("#likeButton").html("Liked")
    }
}   

//like button 
$("#likeButton").on("click", ()=> {

if ($("#likeButton").html() !== "Liked" ) {
    $("#likeButton").html("Liked");
}
else {
    $("#likeButton").html("Unliked");
}
});

$("#likeForm").on("submit", ()=> {
        event.preventDefault();

        $.ajax({
            url: "/users/like_site",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ websiteId }),
            success: (data)=> {
                //Empty
            }
        });
    }); 


//Feauture panel

//parallax image 
let featuredImage = document.getElementById("featured-image");
new simpleParallax(featuredImage, { scale: 1.3 });

switch (pageSection) {
    case "new":
        $(".discover-nav-li:first-of-type").css("background", "grey");
        $(".discover-nav-li:first-of-type > a").css("color", "#ffffff");
        break;
    case "highest_rated":
        $(".discover-nav-li:nth-of-type(2)").css("background", "grey");
        $(".discover-nav-li:nth-of-type(2) > a").css("color", "#ffffff");
        break;
    case "most_viewed":
        $(".discover-nav-li:nth-of-type(3)").css("background", "grey");
        $(".discover-nav-li:nth-of-type(3) > a").css("color", "#ffffff");
        break;
    case "favorites":
        $(".discover-nav-li:nth-of-type(4)").css("background", "grey");
        $(".discover-nav-li:nth-of-type(4) > a").css("color", "#ffffff");
        break;
}

/* Filter */

//Web popup on click if feature
$("#featured-sitename").on("click", ()=> {
    //Check if mobile toFix
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
         // Take the user to a different screen here.
         let win = window.open(featuredUrl, "_blank");
         win.focus();
    }

    else {
        $("#web-frame").attr("src", `/users/website_hover/${websiteId}`);
        $(".web-popup").css("z-index", "4");
        $("body").css("overflow", "hidden");
        console.log("functions ran");
    }

    //Ajax to increment viewed site and push to user database
   $.ajax({
        method: "POST",
        contentType: "application/json",
        url: "/users/viewed_sites",
        data: JSON.stringify({ websiteId }),
        success: (data) => {
            //Empty
        }
    });
});

//Clear Filter 
$("#clearFilterId").on("click", ()=> {
    window.location = window.location.href.split("?")[0]+"#discoverSection";
})

//Show and hide typeId
$("#typeId").on("click", ()=> {
    $("#typeId-dropdown").css("display", "block");
})
$("#typeId").on("clickout", ()=> {
    $("#typeId-dropdown").css("display", "none");
})

//Show category and hide
$("#categoryId").on("click", ()=> {
    $("#categoryId-dropdown").css("display", "block");
})
$("#categoryId").on("clickout", ()=> {
    $("#categoryId-dropdown").css("display", "none");
})

//Show color and hide
$("#colorDiscId").on("click", ()=> {
    $("#colorDisc-dropdown").css("display", "block");
})
$("#colorDiscId").on("clickout", ()=> {
    $("#colorDisc-dropdown").css("display", "none");
})

//Show country and hide
$("#countryDiscId").on("click", ()=> {
    $("#country-dropdown").css("display", "block");
})
$("#countryDiscId").on("clickout", ()=> {
    $("#country-dropdown").css("display", "none");
})

//Render web properly
    switch(filterFront.colors) {
        case ("black"):
            $("#colorDiscId").attr("placeholder","Black");
            break;
            case ("blue"):
            $("#colorDiscId").attr("placeholder","Blue");
            break;
            case ("brown"):
            $("#colorDiscId").attr("placeholder","Brown");
            break;
            case ("turqoise"):
            $("#colorDiscId").attr("placeholder","Turqoise");
            break;
            case ("orange"):
            $("#colorDiscId").attr("placeholder","orange");
            break;
            case ("pink"):
            $("#colorDiscId").attr("placeholder","Pink");
            break;
            case ("red"):
            $("#colorDiscId").attr("placeholder","Red");
            break;
            case ("grey"):
            $("#colorDiscId").attr("placeholder","Grey");
            break;
            case ("white"):
            $("#colorDiscId").attr("placeholder","White");
            break;
            case ("yellow"):
            $("#colorDiscId").attr("placeholder", "Yellow");
            break;
        default:
            $("#colorDiscId").attr("placeholder", "Color");
    }

    switch (filterFront.type) {
        case "personal":
            $("#typeId").attr("placeholder","Personal");
            break;
        case "ecommerce":
            $("#typeId").attr("placeholder","E-Commerce");
            break;
        case "photosharing":
            $("#typeId").attr("placeholder","Photo Sharing");
            break;
        case "writers":
            $("#typeId").attr("placeholder","Writers/Authors");
            break;
        case "community":
            $("#typeId").attr("placeholder","Community Building");
            break;
        case "mobile":
            $("#typeId").attr("placeholder","Mobile Device");
            break;
        case "blogs":
            $("#typeId").attr("placeholder","Blogs");
            break;
        case "informational":
            $("#typeId").attr("placeholder","Informational");
            break;
        case "online-business":
            $("#typeId").attr("placeholder","Online Business Brochure/Catalogs");
            break; 
        default: 
            $("#typeId").attr("placeholder","Type")
    }

    switch (filterFront.category) {
        case ("architecture"):
            $("#categoryId").attr("placeholder","Architecture")
            break;
        case ("art-illustration"):
            $("#categoryId").attr("placeholder", "Art & Illustration")
        break;
        case ("business-corporate"):
            $("#categoryId").attr("placeholder","Business & Corporate")
        break;
        case ("culture-education"):
            $("#categoryId").attr("placeholder","Culture & Education")
        break;
        case ("design-agencies"):
            $("#categoryId").attr("placeholder","Design Agencies")
        break;
        case ("events"):
            $("#categoryId").attr("placeholder","Events")
        break;
        case ("experimental"):
            $("#categoryId").attr("placeholder","Experimental")
        break;
        case ("fashion"):
            $("#categoryId").attr("placeholder","Fashion")
        break;
        case ("film-tv"):
            $("#categoryId").attr("placeholder","Film & TV")
        break;
        case ("food-drink"):
            $("#categoryId").attr("placeholder","Food & Drink")
        break;
        case ("games-entertainment"):
            $("#categoryId").attr("placeholder","Games & Entertainment")
        break;
        case ("hotel/restaurant"):
            $("#categoryId").attr("placeholder","Hotel/Restaurant")
        break;
        case ("institutions"):
            $("#categoryId").attr("placeholder","Institutions")
        break;
        case ("magazine/newspaper"):
            $("#categoryId").attr("placeholder","Magazine/Newspaper")
        break;
        case ("mobile-apps"):
            $("#categoryId").attr("placeholder","Mobile & Apps")
        break;
        case ("music-sound"):
            $("#categoryId").attr("placeholder","Music & Sound")
        break;
        case ("photography"):
            $("#categoryId").attr("placeholder","Photography")
        break;
        case ("promotional"):
            $("#categoryId").attr("placeholder","Promotional")
        break;
        case ("real-estate"):
            $("#categoryId").attr("placeholder","Real Estate")
        break;
        case ("sports"):
            $("#categoryId").attr("placeholder","Sports")
        break;
        case ("startups"):
            $("#categoryId").attr("placeholder","Startups")
        break;
        case ("technology"):
            $("#categoryId").attr("placeholder","Technology")
        break;
        case ("web-interactive"):
            $("#categoryId").attr("placeholder","Web & Interactive")
        break;
        case ("other"):
            $("#categoryId").attr("placeholder","Other")
        break;

        default: 
        $("#categoryId").attr("placeholder","Category")
    }



//Display website now that websiteDisplay has value
$(".portfolio-thumbnail").on("click", ()=> {
    //Check if mobile toFix
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
         // Take the user to a different screen here.
         let win = window.open(webUrl, "_blank");
         win.focus();
    }

    else {
        $("#web-frame").attr("src", `/users/website_hover/${websiteId}`);
        $(".web-popup").css("z-index", "4");
        $("body").css("overflow", "hidden");
        console.log("functions ran");
    }

    //Ajax to increment viewed site and push to user database
   $.ajax({
        method: "POST",
        contentType: "application/json",
        url: "/users/viewed_sites",
        data: JSON.stringify({ websiteId }),
        success: (data) => {
            //Empty
        }
    });
});


/* Quick Fix */

//Disable back
if (`<%=page%>` === `1`) {
    $(`.prevPag`).attr("disabled","true");
}



</script>