<div class="search-page-wrapper">
<header class="search-header">
    <nav class="search-nav">
        <ul class="search-nav-left">
            <li><a href="/">Home</a></li>
            <li><a href="/#discoverSection">Discover</a></li>
            <li><a href="/willBeImplemented">Friends</a></li>
        </ul>
        <ul class="search-nav-right">
        <!--<li><a href="#"><div><img src="#"/></div></a></li>
            <li><a href="#"><div><img src="#"/></div></a></li>-->
            <li><div class="profile-icon-wrapper" style="cursor: pointer;"><img class="nav-profile-icon" src="/publicAvatar/<%=User.email%>" alt="profile-icon"/></div><ul class="home-nav-dropdown">
                <li><a href="/users/profile/<%=User.username%>">Profile</a></li>
                <li><a href="/users/settings">Account Settings</a></li>
                <li><a href="/users/logout">Logout</a></li>
            </ul></li>
        </ul>
    </nav>

    <div class="search-index-wrapper">
        <div class="search-index-greeter">
            <h1 style="color: #7f7f7f">Search</h1>
            <span class="h1-sub" style="color: #bbbbbb;">Search PortLogue users by their name, username, or email.</span>
        </div>
        <form class="search-index-form" method="GET" action="/search">
            <button class="search-index-button" type="submit"><img class="nav-icons" src="/assets/icons/icons8-search-filled-96.png" alt="search-icon"/></button>
            <input class="search-index-input" type="text" name="q"/>
        </form>
    </div>
</header>


<span style="color: #bbbbbb" class="h1-sub search-result-notif"><%- ((qUsers, qryFor)=>{ 
    if (qUsers.length === 0) {
        return `No results for <strong>${qryFor}</strong>`;
    }
    else {
        return `Results for <strong>${qryFor}</strong>`;
    }
})(qUsers, qryFor);%></span>


<section class="search-result-wrapper">
        <ul class="search-result-ul">
            <% for (let val of qUsers) { %>
                <li class="search-result">
                    <a class="search-result-a" href="/users/profile/<%= val.username ? val.username : val.owner.username %>">
                        <div class="search-result-img-wrap"><img src="/publicAvatar/<%= val.email ? val.email : val.owner.email %>"></div>
                        <div>
                            <p><%=val.fullName ? val.fullName : val.owner.fullName;%></p>
                            <p><%=val.username ? val.username : val.owner.username%>&nbsp;||&nbsp;<%=val.email ? val.email : val.owner.email;%></p>
                            <p><%=val.occupationShort ? val.occupationShort : val.owner.occupationShort;%></p>
                            <p><%=val.countryDisplay ? val.countryDisplay : val.owner.countryDisplay%></p>
                        </div>
                    </a>
                    <div class="search-functions">
                        <a href="/users/send_message/<%= val.username ? val.username : val.owner.username %>">Send message</a>
                        <a href="<%= val.username? val.username : val.owner.url %>">Visit official website</a>
                        <a href="/users/report/<%=val.username ? val.username : val.owner.username%>">Report</a>
                    </div>
                </li>
                <%}%> 
        </ul>
</section>

<div class="search-end">
    <span>End of results</span>
</div>

</div>

<footer>
    <div class="footer-container">
            <div class="footer-desc">
                <!--
                    <div><img style="width: 70px; border: 1px solid #e5e5e5; border-radius: 5px 5px 0 0; margin-bottom: 5px; " src="/assets/icons/logo_noText.svg" alt="portlogue-logo"/></div>
                    <span class="footer-desc-span">Sharing and browsing websites made easy!</span>
                    <p class="footer-desc-p">Showcase and share your wordpress, wix,
                        weebly, and shopify websites with portlogue. Join a community where it's all about 
                        sharing and exploring websites.</p>
                    <div class="footer-desc-social">
                        
                        <div><img src="#" alt="facebook-icon"></div>
                        <div><img src="#" alt="youtube-icon"></div>
                        <div><img src="#" alt="linkedin-icon"></div>
                        <div><img src="#" alt="twitter-icon"></div>
                        
                    </div>
        
                    <p style="font-size: 16px; color: #7f7f7f;">©2019 PORTLOGUE. All rights reserved.</p>
                -->
            </div>
            <ul class="footer-links">
                <span>Quick Links</span>
                <div class="footer-quicks">
                        <li><a href="/users/login">Login</a></li>
                        <li><a href="/users/register">Register</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="#">Contact</a></li>
                </div>
                <p style="font-size: 16px; color: #7f7f7f; margin-top: 10px;">©2019 PORTLOGUE. All rights reserved.</p>
            </ul>       
            <div class="empty-spot">

            </div>
    </div>
</footer>